#network {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#info-left {
    font-size: 2vw;
    font-family :"Courier New", Courier, monospace;
    position: relative;
    z-index: 2;
    pointer-events: none;
    float: left;
    text-align: left;
}
#info-right {
    font-size: 2vw;
    font-family: "Courier New", Courier, monospace;
    position: relative;
    z-index: 2;
    pointer-events: none;
    float: right;
    text-align: right;
}

#actions {
    position: absolute;
    left: 2%;
    bottom: 2%;
    width: 100%;
    z-index: 2;
}
