#network {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#info-left {
    font-size: 2vw;
    font-family :"Courier New", Courier, monospace;
    position: relative;
    z-index: 2;
    pointer-events: none;
    float: left;
    text-align: left;
}
#info-right {
    font-size: 2vw;
    font-family: "Courier New", Courier, monospace;
    position: relative;
    z-index: 2;
    pointer-events: none;
    float: right;
    text-align: right;
}

#actions {
    position: absolute;
    left: 2%;
    right: 2%;
    bottom: 2%;
    z-index: 2;
}

@keyframes spinner-line-fade-more {
    0%, 100% {
        opacity: 0; /* minimum opacity */
    }
    1% {
        opacity: 1;
    }
}

@keyframes spinner-line-fade-quick {
    0%, 39%, 100% {
        opacity: 0.25; /* minimum opacity */
    }
    40% {
        opacity: 1;
    }
}

@keyframes spinner-line-fade-default {
    0%, 100% {
        opacity: 0.22; /* minimum opacity */
    }
    1% {
        opacity: 1;
    }
}

@keyframes spinner-line-shrink {
    0%, 25%, 100% {
        /* minimum scale and opacity */
        transform: scale(0.5);
        opacity: 0.25;
    }
    26% {
        transform: scale(1);
        opacity: 1;
    }
}
